<section class="py-16 px-20">
    <h4 class="font-bold text-2xl underline underline-offset-2">Privacy Policy</h4>
    <br>
    <p>This Privacy Policy discloses the privacy practices for Subham Saha (“We/we” or “Us/us”) with regard to Your (“You/you”
    or “Your/your”) use of the online platform (“Website”). This Privacy Policy and Terms of Use
    describes our current practices regarding, including your choices in relation to how we collect, compile, store, use,
    share and secure your personal information across our Website. It also describes your choices regarding access, use and
    correction of personal information and your rights in relation to your personal information and how you can contact us
    or authorities in the event you have a grievance or complaint. By visiting our site, you agree to be bound by
    the terms and conditions of this Privacy Policy. Kindly go through this Privacy Policy carefully. By using the Website,
    you indicate that you understand and abide by this Policy. If you are not in agreement with the terms and conditions of
    this Privacy Policy, kindly do not access this Website. We ensure to review this Privacy Policy from time to time so
    that it is updated. If you are just a visitor, then kindly note that this Policy is subject to change at any time
    without notice. To ensure that you are aware of any changes in the Policy, please review this Policy from time to time.
    By Personal Data, we mean any information that can either itself identify you as an individual.</p>
    <div>
        <li><b>Collecting Information</b><p>As a visitor, you can browse through our Website to find out more about us. You are not required to provide us
        with any Personal Data if you are merely a visitor. When you visit the Site, we collect and store certain information in
        order to increase security, analyse developments and administer the Website with a view to help us in making customer
        experience better. We utilise this information to analyse traffic patterns on our Website so as to make it more
        beneficial for our visitors. We collect your Personal Data only when you register with us, when you are interested in
        obtaining information regarding our products and services, when you participate in activities on our Website or contact
        us.The information we gather from you helps us personalize and continually improve customer experience at our Website. We
        do not voluntarily make this information available to any third parties, nor do we use it for any other objective.</p></li>
        <li>
            <b>Usage and Retention of Information</b>
            <p>We use the personal information we collect, including your Personal Data where it is necessary to render the services
            requested by you, where it is necessary to comply with legal obligations or rights or for normal business purposes of
            the kind set out in this Policy. We will use your personal information to provide, analyse and improve our offerings, to
            provide you with a customized experience on our Website, to contact you about your account and our services, to render
            customer service</p>
        </li>
        <li>
            <b>Security</b>
            <p>We shall make an effort to take all precautions to shield the personal information both online and offline. We will try
            to protect your information using security measures to reduce the risks of loss and misuse of data. We have standard SSL
            certification which basically helps us create a secure connection between our server and user to render any information
            or action. Only user passwords are encrypted in 64-bit encryption and
            stored because generally users use the same password on multiple sites, to prevent any kind of theft, piracy or
            unauthorised access. If you think that your account has been compromised, you can contact us by writing an
            email to sahasubham7478+support@gmail.com.</p>
        </li>
    </div>
</section>